<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Admin_Toolroom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Admin_Toolroom.Properties.Settings>
      <setting name="sDomainName" serializeAs="String">
        <value />
      </setting>
      <setting name="sDomainOU" serializeAs="String">
        <value />
      </setting>
      <setting name="sDomUsrName" serializeAs="String">
        <value />
      </setting>
      <setting name="sDomUsrPwd" serializeAs="String">
        <value />
      </setting>
      <setting name="sWorkgroupName" serializeAs="String">
        <value />
      </setting>
      <setting name="sLocAdminName" serializeAs="String">
        <value />
      </setting>
      <setting name="sLocAdminPwd" serializeAs="String">
        <value />
      </setting>
      <setting name="sCompList" serializeAs="String">
        <value />
      </setting>
      <setting name="sLdapPath" serializeAs="String">
        <value />
      </setting>
      <setting name="sRDPTxtPath" serializeAs="String">
        <value />
      </setting>
      <setting name="sDC" serializeAs="String">
        <value />
      </setting>
      <setting name="sDefaultPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="sUserDomainOU" serializeAs="String">
        <value />
      </setting>
    </Admin_Toolroom.Properties.Settings>
  </userSettings>
</configuration>